@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Check Out My Podcasts!";
}
<!--MyPodcasts page-->
<center>
    <img src="~/romcom2.jpg" width="500" />

    <div>
        <h4>You can find Joel's podcasts <a href="https://baconsale.com">here</a>.</h4>
    </div>
</center>


